.container {
    width: 60%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin:2px auto 10px auto;
    min-height: 100vh;
}

.ql-toolbar.ql-snow{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    position: sticky;
    top:0;
    z-index: 1;
    background-color: #f3f3f3;
    border:none;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);

}
.ql-editor{
    min-height: 11in;
    padding: 1px;
    margin:1rem;
}
